body{
    background-image: url('../backgro.jpg') ;
    background-size:cover;
    line-height: 20px;
    font-size: 15px;
}
#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    color: rgb(255, 255, 255);
}
#form-login{
    max-width: 400px;
    background: rgb(0,0,0, 0.8);
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0 0 5px  rgba(255, 255, 255, 0.8);
}
.form-heading{
    font-size: 55px;
    text-align: center;
    margin-bottom: 30px;
}
.form-group{
    border-bottom: 1px solid white;
    margin-top: 15px;
    margin-bottom: 20px;
}
.form-input{
    background: transparent;
    border: 0;
    outline: 0;
    color: #ffffff;
    flex-grow: 1;
}
.form-input ::placeholder{
    color:red;
}
.form-submit{
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffffff;
    text-transform: uppercase;
    padding: 6px 10px;
}
.form-submit:hover{
    box-shadow: 2px 2px rgb(167, 154, 180);
    border: 1px solid blueviolet;
}